.p-indent {
    text-indent: 2rem;
}

* {
    font-size: 15px;
}

img {
    width: 100%;
    height: 100%;
}

.context-box {
    margin-top: 20px;
    text-align: left;
    ul,
    pre,
    p {
        margin-top: 20px;
    }
    .code {
        margin: 0 2px;
        color: #e96900;
        padding: 3px 5px;
        font-size: 1em;
        border-radius: 2px;
        font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
        background-color: #f8f8f8;
    }
}